body {
    background-color: rgb(5, 24, 26);
    color: #ededed;
}

.home-content h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 22px;
    font-weight: 700;
    color: #00abf0
}

.home-content h3 {
    font-size: 22px;
    font-weight: 700;
    color: #00abf0
}

